In [1]:
import pandas as pd
import numpy as np

In [2]:
# load all the data from q4
con = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_construction.csv')
edu = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_education_health.csv')
fin = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_financial_activities.csv')
inf = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_information.csv')
hosp = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_leisure_hodpitality.csv')
manf = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_manufacturing.csv')
nat = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_natural_resources.csv')
other = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_other_services.csv')
prof = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_professional_buessiness_service.csv')
trd = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_trade_transportation.csv')
unc = pd.read_csv('../data/BLS_Data_Q4_17/q4_2017_unclassified.csv')

In [3]:
# create a list for all the data
list_of_df = [con,edu,fin,inf,hosp,manf,nat,other,prof,trd,unc]

In [4]:
q4_df = pd.concat(list_of_df)

In [5]:
q4_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2735 entries, 0 to 235
Data columns (total 11 columns):
Area Name                                   2735 non-null object
Year                                        2724 non-null float64
Quarter                                     2724 non-null object
No Of Establishments                        2724 non-null float64
Employment                                  2373 non-null float64
One-Year Employment Gain/Loss (Percent)     2254 non-null float64
Average Weekly Wages                        2373 non-null float64
On-Year Weekly Wages Gain/Loss (Percent)    2255 non-null float64
Industry                                    2724 non-null object
FIPS                                        2724 non-null float64
USPS                                        2724 non-null object
dtypes: float64(7), object(4)
memory usage: 256.4+ KB

In [6]:
q4_df.head()

,Area Name,Year,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS,USPS
0,Anderson County,2017.0,Fourth Quarter,106.0,607.0,-12.8,939.0,27.2,Construction,48001.0,TX
1,Andrews County,2017.0,Fourth Quarter,37.0,821.0,9.8,1575.0,12.7,Construction,48003.0,TX
2,Angelina County,2017.0,Fourth Quarter,147.0,1369.0,-8.7,856.0,6.3,Construction,48005.0,TX
3,Aransas County,2017.0,Fourth Quarter,67.0,369.0,-3.1,979.0,-5.9,Construction,48007.0,TX
4,Archer County,2017.0,Fourth Quarter,36.0,119.0,0.8,670.0,2.6,Construction,48009.0,TX

In [7]:
q4_df.drop(columns = ['USPS','Year'],index = 235,inplace = True)

In [8]:
q4_df.to_csv('./BLS_Data_Q4_17/q4_df.csv')

In [9]:
# load the q4_df
q4_df1 = pd.read_csv('./BLS_Data_Q4_17/q4_df.csv')

In [10]:
q4_df1.head(2)

,Unnamed: 0,Area Name,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS
0,0,Anderson County,Fourth Quarter,106.0,607.0,-12.8,939.0,27.2,Construction,48001.0
1,1,Andrews County,Fourth Quarter,37.0,821.0,9.8,1575.0,12.7,Construction,48003.0

In [11]:
q4_df1.to_csv('./BLS_Data_Q4_17/q4_df.csv')

In [12]:
q2 = pd.read_csv('./BLS_Data_Q2_17/q2_df.csv')
q3 = pd.read_csv('./BLS_Data_Q3_17/q3_df.csv')
q4 = pd.read_csv('./BLS_Data_Q4_17/q4_df.csv')

In [13]:
# merge the data
df = pd.concat([q2,q3,q4])
df.head()

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,Area Name,Average Weekly Wages,Employment,FIPS,Industry,No Of Establishments,On-Year Weekly Wages Gain/Loss (Percent),One-Year Employment Gain/Loss (Percent),Quarter,Unnamed: 0,Unnamed: 0.1
0,Anderson County,275.0,1666.0,48001.0,Leisure and Hospitality,109.0,1.1,3.1,Second Quarter,0,NaN
1,Andrews County,439.0,531.0,48003.0,Leisure and Hospitality,37.0,-0.9,17.5,Second Quarter,1,NaN
2,Angelina County,302.0,3549.0,48005.0,Leisure and Hospitality,157.0,-0.3,7.6,Second Quarter,2,NaN
3,Aransas County,335.0,1660.0,48007.0,Leisure and Hospitality,124.0,-0.9,6.8,Second Quarter,3,NaN
4,Archer County,222.0,60.0,48009.0,Leisure and Hospitality,8.0,-21.3,50.0,Second Quarter,4,NaN

In [14]:
df = df.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'])

In [15]:
df.head()

,Area Name,Average Weekly Wages,Employment,FIPS,Industry,No Of Establishments,On-Year Weekly Wages Gain/Loss (Percent),One-Year Employment Gain/Loss (Percent),Quarter
0,Anderson County,275.0,1666.0,48001.0,Leisure and Hospitality,109.0,1.1,3.1,Second Quarter
1,Andrews County,439.0,531.0,48003.0,Leisure and Hospitality,37.0,-0.9,17.5,Second Quarter
2,Angelina County,302.0,3549.0,48005.0,Leisure and Hospitality,157.0,-0.3,7.6,Second Quarter
3,Aransas County,335.0,1660.0,48007.0,Leisure and Hospitality,124.0,-0.9,6.8,Second Quarter
4,Archer County,222.0,60.0,48009.0,Leisure and Hospitality,8.0,-21.3,50.0,Second Quarter

In [16]:
# save the data 
df.to_csv('../data/q2_q3_q4.csv')