In [3]:
import pandas as pd

In [22]:
# read in csv file for q2 and save as dataframe
q2_df = pd.read_csv('./data/BLS_Data_Q2_17/q2_df.csv')

In [23]:
# examine q2_df 
q2_df.head()

,Unnamed: 0,Area Name,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS
0,0,Anderson County,Second Quarter,109.0,1666.0,3.1,275.0,1.1,Leisure and Hospitality,48001.0
1,1,Andrews County,Second Quarter,37.0,531.0,17.5,439.0,-0.9,Leisure and Hospitality,48003.0
2,2,Angelina County,Second Quarter,157.0,3549.0,7.6,302.0,-0.3,Leisure and Hospitality,48005.0
3,3,Aransas County,Second Quarter,124.0,1660.0,6.8,335.0,-0.9,Leisure and Hospitality,48007.0
4,4,Archer County,Second Quarter,8.0,60.0,50.0,222.0,-21.3,Leisure and Hospitality,48009.0

In [24]:
#check shape of q2_df
q2_df.shape

(2705, 10)

In [25]:
# drop extra index column 'Unnamed: 0'
q2_df.drop(columns=['Unnamed: 0'],inplace=True)

In [26]:
# verify the 'Unnamed: 0' column dropped
q2_df.head()

,Area Name,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS
0,Anderson County,Second Quarter,109.0,1666.0,3.1,275.0,1.1,Leisure and Hospitality,48001.0
1,Andrews County,Second Quarter,37.0,531.0,17.5,439.0,-0.9,Leisure and Hospitality,48003.0
2,Angelina County,Second Quarter,157.0,3549.0,7.6,302.0,-0.3,Leisure and Hospitality,48005.0
3,Aransas County,Second Quarter,124.0,1660.0,6.8,335.0,-0.9,Leisure and Hospitality,48007.0
4,Archer County,Second Quarter,8.0,60.0,50.0,222.0,-21.3,Leisure and Hospitality,48009.0

In [27]:
# read in q3 csv data and save as dataframe
q3_df = pd.read_csv('./data/BLS_Data_Q3_17/q3_df.csv')

In [28]:
#check shape of q3_df
q3_df.shape

(2724, 10)

In [29]:
# examine q3_df
q3_df.head()

,Unnamed: 0,Area Name,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS
0,0,Anderson County,Third Quarter,55.0,1566.0,5.7,775.0,4.6,Manufacturing,48001.0
1,1,Andrews County,Third Quarter,11.0,267.0,3.9,893.0,2.2,Manufacturing,48003.0
2,2,Angelina County,Third Quarter,73.0,2866.0,-7.0,981.0,-1.9,Manufacturing,48005.0
3,3,Aransas County,Third Quarter,18.0,47.0,2.2,634.0,-6.6,Manufacturing,48007.0
4,4,Archer County,Third Quarter,4.0,69.0,-5.5,749.0,1.5,Manufacturing,48009.0

In [30]:
#drop the extra index column "Unnamed: 0"
q3_df = q3_df.drop(columns=['Unnamed: 0'],inplace=True)

In [31]:
#import and save q4 data as a dataframe
q4_df = pd.read_csv('./data/BLS_Data_Q4_17/q4_df.csv')

In [32]:
#examine q4 dataframe
q4_df.head()

,Unnamed: 0,Unnamed: 0.1,Area Name,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS
0,0,0,Anderson County,Fourth Quarter,106.0,607.0,-12.8,939.0,27.2,Construction,48001.0
1,1,1,Andrews County,Fourth Quarter,37.0,821.0,9.8,1575.0,12.7,Construction,48003.0
2,2,2,Angelina County,Fourth Quarter,147.0,1369.0,-8.7,856.0,6.3,Construction,48005.0
3,3,3,Aransas County,Fourth Quarter,67.0,369.0,-3.1,979.0,-5.9,Construction,48007.0
4,4,4,Archer County,Fourth Quarter,36.0,119.0,0.8,670.0,2.6,Construction,48009.0

In [33]:
#remove the two extra index columns for q4_df
q4_df = q4_df.drop(columns= ['Unnamed: 0', 'Unnamed: 0.1'])

In [34]:
#verify the columns dropped succesfully
q4_df.head()

,Area Name,Quarter,No Of Establishments,Employment,One-Year Employment Gain/Loss (Percent),Average Weekly Wages,On-Year Weekly Wages Gain/Loss (Percent),Industry,FIPS
0,Anderson County,Fourth Quarter,106.0,607.0,-12.8,939.0,27.2,Construction,48001.0
1,Andrews County,Fourth Quarter,37.0,821.0,9.8,1575.0,12.7,Construction,48003.0
2,Angelina County,Fourth Quarter,147.0,1369.0,-8.7,856.0,6.3,Construction,48005.0
3,Aransas County,Fourth Quarter,67.0,369.0,-3.1,979.0,-5.9,Construction,48007.0
4,Archer County,Fourth Quarter,36.0,119.0,0.8,670.0,2.6,Construction,48009.0

In [35]:
#check shape of q4_df
q4_df.shape

(2725, 9)

In [36]:
df_list = [q2_df, q4_df, q3_df]

In [37]:
final_df = pd.concat(df_list)

In [38]:
final_df.shape

(5430, 9)